#floatingRectangle {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    height: auto;
    width: 18rem;
    border: black 1px solid;
    margin-left: 50%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
    margin: auto;
}

.bookItButton {
    background-color: #ffd869;
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  .bookingDate {
      display: contents;
  }